<launch>
  
  <node name="fake_docking_server" pkg="hamal_ff_client" 
      type="fake_docking_server"/>
  
  <!-- <node pkg="tf" type="static_transform_publisher" 
      name="fake_robot_transform" 
      args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 base_footprint map 200"/> -->

  <node name="fake_battery_node" pkg="hamal_ff_client" type="fake_battery.py" output="screen"/>

  <node name="fake_client_node" pkg="hamal_ff_client"
      type="hamal_ff_client" output="screen">
    <param name="/use_sim_time" value="true"/>
    <param name="fleet_name" type="string" value="free_fleet"/>
    <param name="robot_name" type="string" value="moobot"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="level_name" type="str" value="L1"/>
    <param name="battery_state_topic" type="str" value="/battery_state"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="docking_trigger_server_name" type="string" value="/fake_docking_server"/>
  </node>
  
</launch>
